/* Police */ 
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* ./src/tailwind.css */
@tailwind base;
@tailwind components;


/* Menu */
.coco-lien-menu {
  @apply cursor-pointer transition duration-500 ease-in-out hover:text-coco; 
}

/* Hashtag header */
.coco-slogans {
  font-family: system-ui;
  @apply uppercase font-black anim-typewriter line-1; 
}

/* Titre h2*/ 
.coco-titre-h2 {
  font-family: 'Mouse Memoirs';
  @apply uppercase text-4xl pt-20 text-center text-coco relative z-10 md:text-5xl; 
}


/* Card accueil */
.coco-card-prestation {
  height: 465px;
  @apply w-11/12 p-6 mb-12 md:w-80 md:p-10 md:mx-6 xl:w-72 relative text-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:shadow-lg;
}
.coco-card-pack {
  height: 465px;
  @apply w-11/12 h-96 p-6 mb-12 md:w-80 md:mx-6 md:p-10 relative text-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:shadow-lg;
}
.coco-voir-tarifs {
  @apply cursor-pointer mt-3 text-lg text-center border-2 border-white w-full text-white rounded-lg px-6 py-3; 
}

/* Carré réalisation */
.carre-realisaion {
  @apply cursor-pointer mb-8 lg:mx-1 lg:mb-2 relative; 
} 

/* Prestation et pack */
.coco-prix {
  font-family: 'Mouse Memoirs';
  @apply text-7xl text-coco uppercase pt-3 pb-4;
}

@tailwind utilities;


* {
    font-family: 'marvel';
}

.coco-placement {
    padding-top: 52px;
}

/* des ti-rets pour les listes */
li:before {
    content: '- ';
 }
 nav li:before, .coco-card-prestation li:before, .coco-card-pack li:before {
    content: ' ';
 }

 
/* illustration coco sur l'ordi */ 
.coco-img-ordi {
  width: 51rem; ;
}

/* background illustration */ 
.coco-fond-plante {
    background-image: url("../img/pc/fond.svg");
    background-attachment: fixed; 
    background-size: cover;
    background-position-x: center;
}
.coco-fond-plante2 {
    background-image: url("../img/pc/fond2.svg");
    background-attachment: fixed; 
    background-size: cover;
    background-position-x: center;
}


/* Animation */
.line-1{
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
    animation: typewriter 1s steps(100) 1s 1 normal both;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  } 
  
  
  

/* clip path */ 
.coco-bloc-prestations:before {
    content:'';
    position:absolute;
    background-color: white;
    display: block;
    width:100%;
    height:180px;
    top: -105px;
    clip-path: ellipse(60% 38% at 50% 46%);
  }
  .coco-bloc-prestations:after {
    content:'';
    position:absolute;
    background-color: white;
    display: block;
    width:100%;
    height:180px;
    bottom: -105px;
    clip-path: ellipse(60% 38% at 50% 46%);
  }
  .coco-bloc-prestations-identitevisuelle:before, .coco-bloc-pack-identitevisuelle:before {
    content:'';
    height:180px;
    top: -105px;
    clip-path: ellipse(60% 38% at 50% 46%);
    @apply bg-white absolute block w-full;
  }
  /* XL */ 
    @media only screen and (min-width : 1023px) {
        .coco-bloc-prestations:before {
            content:'';
            position:absolute;
            background-color: white;
            display: block;
            width:100%;
            height:170px;
            top: -105px;
            clip-path: ellipse(58% 80% at 50% 20%);
          }
          .coco-bloc-prestations:after {
            content:'';
            position:absolute;
            background-color: white;
            display: block;
            width:100%;
            height:180px;
            bottom: -105px;
            clip-path: ellipse(59% 83% at 50% 85%);
          }
          .coco-bloc-prestations-identitevisuelle:before {
            content:'';
            height:180px;
            top: -105px;
            clip-path: ellipse(58% 80% at 50% 20%);
            @apply bg-white absolute block w-full;
          }
    }
  



/* menu smartphone tablette */ 
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#3BB4CE;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham5 .top {
    stroke-dasharray: 40 82;
  }
  .ham5 .bottom {
    stroke-dasharray: 40 82;
  }
  .ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
  .ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
  #coco-menu {
      display: none;
      background-image:url('../img/pc/fond3.svg');
      background-position: center;
      background-size: cover;
  }
  .coco-overflow {
      overflow: hidden;
  } 



/* Overlay réalisation */ 
  .carre-realisaion .text {
    color: #fff; 
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    }
  .carre-realisaion .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  .carre-realisaion:hover .hover {
    opacity: 1;
  }
  .carre-realisaion .hover {
    background-color: rgba(59, 180, 206, 0.5);
  }